/* Pre-load 'Academic (Comfortable)' Version 0.1 theme fonts */

/* for table of contents */
a::after { content: target-counter(attr(href url), page) }

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'freemono';
    src: url('../fonts/FreeMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'freemono';
    src: url('../fonts/FreeMonoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'freemono';
    src: url('../fonts/FreeMonoOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'freemono';
    src: url('../fonts/FreeMonoBoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'roboto-condensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-condensed';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-condensed';
    src: url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'roboto-condensed';
    src: url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

html {
  /* writing mode */
  writing-mode: horizontal-tb;

  orphans: 2;
  widows: 2;

  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}
@media print {
  html {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 22pt;
       -moz-column-gap: 22pt;
            column-gap: 22pt;
  }
}

@page {
  size: 140mm 215mm; 

  margin-left: 11mm; 
  margin-right: 13mm;
  margin-top: 12mm; 
  margin-bottom: 28mm;
  /* The followings are inherited to page-margin boxes */
  font-family: "roboto";
  font-size: 10pt;
  vertical-align: top;
}
@page :left {
  /* top-left header */
  @top-left {
    content: "";
    margin-top: 8mm;
    margin-bottom: 4mm;
    border-bottom: 0pt solid #000;
  }
  /* bottom-left page number */
  @bottom-left {
    font-size: 9pt;
    font-weight: bold;
    content: counter(page);
    margin-top: 6mm;
  }
  /* bottom-right text */
  @bottom-right {
    font-size: 9pt;
    font-weight: bold;
    content: "Informe 2014/15 Amnistía Internacional";
    margin-top: 6mm;
  }
}
@page :right {
  /* top-right header (only for border) */
  @top-right {
    content: "";
    margin-top: 8mm;
    margin-bottom: 4mm;
    border-bottom: 0pt solid #000;
  }
  /* bottom-right page number */
  @bottom-right {
    font-size: 9pt;
    font-weight: bold;
    content: counter(page);
    margin-top: 6mm;
  }
  /* bottom-left text */
  @bottom-left {
    font-size: 9pt;
    font-weight: bold;
    content: "Informe 2014/15 Amnistía Internacional";
    margin-top: 6mm;
  }
}
/* cover page */
.coverpage {
  position: absolute;
  top: 0pt;
  left: 0pt;
  width: 100%;
  height: 100%;
	break-after: true;
}
.coverimg {
  z-index: 1;
  position: relative;
  top: 0pt;
  left 0pt;
	height: 100%;
}
.covertext1 {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 20pt;
}
.covertext2 {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 20pt;
}
.covertext3 {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 20pt;
}
/*
h1 {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 10pt;
}


h2 {
  font-size: 12pt;
  font-weight: bold;
  text-indent: 0;
  line-height: 32pt;
  margin-top: 16pt;
}

p.dropcap {
  text-indent: 0;
  min-width: 20pt;
}

p.dropcap span.dropcap {
  font-size: 36pt;
  float: left;
  line-height: 36pt;
  margin-right: 2.25pt;
}

p.author {
  text-indent: 0;
  text-align: right;
}
*/

body {
  font-size: 10pt; 
  line-height: 13pt; 
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "roboto"; 
  text-align: justify;
}

.impl {
  margin: 0;
  text-indent: 0;
  text-align: left;
}

.impl-bold {
  margin: 0;
  text-indent: 0;
  font-weight: bold;
  text-align: left;
}

/* Header ********************************************************************/
.header-text {
  font-family: "roboto"; 
  font-size: 0.8rem; 
  border-bottom: 0rem solid black; 
}
.header-left {
  text-align: left;
  display: block;
}
.header-right {
  text-align: right;
  display: block;
}

/* Footer ********************************************************************/
.footer-text {
  font-family: "roboto"; 
  font-size: 1rem; 
  border-top: 0rem solid black; 
}
.footer-left {
  text-align: center;
  display: block;
}
.footer-right {
  text-align: center;
  display: block;
}

/* SECTIONS (or parts, as they are called in LaTeX) */
h1.section {
  line-height: inherit;
  padding-top: 40%;
  margin-top: 0;
  font-family: "roboto"; 
  text-align: left; 
  font-weight: bold; 
  font-size: 30pt;
  text-transform: none; 
  border-bottom: 0rem solid black;
  text-decoration: none;
}

/* FRONT MATTER (half-title) **********************************************/
div.frontmatter-half-title {
  page: frontmatter;
  line-height: 110%;
  padding-top: 40%;
  margin-bottom: 0;
  font-weight: bold; 
  text-align: left; 
  text-transform: uppercase; 
  font-family: "roboto"; 
  text-decoration: none;
  font-size: 20pt;
}

div.frontmatter-author {
  font-weight: normal;
  margin-top: 8rem;
  text-align: left; 
  font-family: "roboto"; 
  font-size: 20pt;
}

/* FRONT MATTER (title) *****************************************************/
div.frontmatter-title {
  line-height: 1.1em;
  padding-top: 30%;
  margin-bottom: 2em;
  text-align: left; 
  font-weight: bold; 
  text-transform: uppercase; 
  font-family: "roboto"; 
  text-decoration: none;
  font-size: 30pt;
}

div.frontmatter-line {
  width: 33%;
  background-color: black;
  height: 0.3rem; 
  margin-bottom: 2em;
}

div.frontmatter-subtitle {
  line-height: 1.1em;
  margin-bottom: 2em;
  font-weight: normal;
  text-align: left; 
  font-family: "roboto"; 
  font-size: 20pt;
}

div.frontmatter-author-title {
  line-height: 1.1em;
  font-weight: normal;
  margin-bottom: 2em;
  text-align: left; 
  font-family: "roboto"; 
  font-size: 20pt;
}

.frontmatter-bottom {
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.1em;
  text-align: left; 
  font-family: "roboto"; 
}

/* Table of contents ****************************************/
div.mpdf_toc {
  font-size: 1rem;
  font-family: "roboto"; 
}

span.mpdf_toc_t_level_0 {
  font-weight: bold; 
  text-transform: none;
}

span.mpdf_toc_t_level_1 {
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}
/* Body styling ************************************************************/

/* Info Box */
.bk-box {
  font-family: "roboto"; 
  font-size: 0.9em; 
  color: #000000;
  background-color: #ffffff;
  padding-bottom: 0.5em; 
  margin-top: 13pt; 
  margin-bottom: 13pt; 
  border-left: 0.5pt solid #000000;
  border-top: 0.5pt solid #000000;
  border-right: 0.5pt solid #000000;
  border-bottom: 0.5pt solid #000000; 
}
.bk-box p {
  padding: 0 0.5em;
  text-indent: 0ptem;
}
.bk-box .caption_box {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  padding: 0.5em;
  border-bottom: 0pt solid #000000; 
  margin-bottom: 0.5em;
}

/* dropcaps*/
.dropcap {
  font-size: 40pt;
}

h1.chapter-h1 {
  margin-top: 0;
  padding-bottom: 0;
  color: #000000; 
  text-align: left; 
  font-weight: normal; 
  font-family: "roboto-condensed"; 
  font-size: 26.6pt;
  padding-top: 39pt; 
  margin-bottom: 39pt; 
  line-height: 26pt; 
  text-transform: none; 
  border-bottom: 0rem solid black;
  text-decoration: none;
}

h1.body-h1 {
  margin-top: 0;
  padding-bottom: 0;
  color: #000000; 
  text-align: left; 
  font-weight: normal; 
  font-family: "roboto-condensed"; 
  font-size: 23.3pt;
  padding-top: 26pt; 
  margin-bottom: 13pt; 
  line-height: 26pt; 
  text-transform: none; 
  border-bottom: 0rem solid black;
  text-decoration: none;
}

h2.body-h2 {
  margin-top: 0;
  padding-bottom: 0;
  color: #000000; 
  text-align: left; 
  font-weight: normal; 
  font-family: "roboto-condensed"; 
  font-size: 20pt;
  padding-top: 8.7pt; 
  margin-bottom: 4.3pt; 
  line-height: 26pt; 
  text-transform: none; 
  border-bottom: 0rem solid black;
  text-decoration: none;
}

h3.body-h3 {
  margin-top: 0;
  padding-bottom: 0;
  color: #000000; 
  text-align: left; 
  font-weight: normal; 
  font-family: "roboto-condensed"; 
  font-size: 15pt;
  padding-top: 8.7pt; 
  margin-bottom: 4.3pt; 
  line-height: 13pt; 
  text-transform: none; 
  border-bottom: 0rem solid black;
  text-decoration: none;
}

h4.body-h4 {
  margin-top: 0;
  padding-bottom: 0;
  color: #000000; 
  text-align: left; 
  font-weight: normal; 
  font-family: "roboto-condensed"; 
  font-size: 13.3pt;
  padding-top: 8.7pt; 
  margin-bottom: 4.3pt; 
  line-height: 13pt; 
  text-transform: none; 
  border-bottom: 0rem solid black;
  text-decoration: none;
}

h5.body-h5 {
  margin-top: 0;
  padding-bottom: 0;
  color: #000000; 
  text-align: left; 
  font-weight: normal; 
  font-family: "roboto-condensed"; 
  font-size: 10pt;
  padding-top: 8.7pt; 
  margin-bottom: 4.3pt; 
  line-height: 13pt; 
  text-transform: none; 
  border-bottom: 0rem solid black;
  text-decoration: none;
}

p {
  font-weight: normal;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0pt; 
}
p.body-first {
  text-indent: 0;
  margin-bottom: 0pt; 
}
p.body {
  margin-bottom: 0pt; 
  text-indent: 13pt; 
}
p.hanging {
  margin-bottom: 0pt; 
  text-indent: -13pt;
  padding-left: 13pt;
}
p:first-child:first-letter{
  float:left;
  margin-top:7px;
  font-size:70px;
  margin-right:5px;
  color:#3D3529;
}
.quote-before {
  display: none;
}
blockquote, .quote {
  font-family: "roboto"; 
  display: inline;
  font-weight: normal; 
  font-size: 10pt;
  font-style: italic;
  text-indent: 0;
  border-left: 0.5em solid #ccc;
  padding-left: 2rem;
  margin-left: 13pt;
  margin-top: 13pt; 
  margin-bottom: 13pt; 
  text-align: left; 
  line-height: 13pt; 
  text-transform: none; 
  text-decoration: none;
}
/* Lists ****************************************************************/
ul, ol {
  line-height: 13pt; 
  margin-top: 13pt; 
  margin-bottom: 13pt; 
}
li {
  padding: 0;
  margin: 0;
  line-height: 13pt; 
}
/* TABLE *****************************************************************/
/* for caption styling see images section below */
table {
  border-collapse: collapse;
  max-width: 100%;
  margin-top: 13pt; 
  margin-bottom: 13pt; 
}
th, td {
  border: 0.1mm solid #000000;
  padding: 0.6rem 0.8rem;
}
/* IMAGE (plus captions) ************************************************/
img, div.image {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}

.group_img {
  page-break-inside: avoid;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

caption, 
.caption_small, 
.caption_table,
.caption_img, 
.caption_fig, 
.caption_image, 
.caption_figure {
  margin-top: 13pt;
  font-size: 9pt;
  line-height: 13pt;
  font-style: italic;
}
.center {
  text-align: center;
}
/* PREFORMATTED ******************************************************/
pre {
  padding-bottom: 0;
  padding-top: 0;
  font-family: "texgyrecursor"; 
  font-weight: "normal"; 
  color: #000000; 
  line-height: 13pt; 
  margin-top: 13pt; 
  margin-bottom: 13pt; 
}
/* ENDNOTES **********************************************************/
.endnote {
  vertical-align: middle;
  font-style: italic;
  font-size: 0.75rem;
}
ol.endnotes {
  margin-top: 2rem;
  padding-left: 1.2em;
}

ol.endnotes li {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: inherit;
}

/* DEDICATION  ***********************************************************/
div.dedication {
  padding-top: 30%;
}

p.dedication {
  font-weight: normal;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.5rem;
  display: inline; 
  margin-left: 7rem;
  margin-right: 7rem;
}
